h1 {
    text-align: center;
}

body {
    font-family: 'Arvo';
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: #37383A;
    color: #FFFFFF;
    text-align: center;
}

/* List */

ul {
    list-style: none;
}
li {
    background: #08734E;
    width: 500px;
    min-height: 25px;
    padding: 10px;
    
    font-size: 1em;
    max-height: 25px;
    display: flex;
    text-align: left;
    display: inline-block;
}

.delete {
    display: none;
    margin-left: 0;
}

li:hover .delete {
    display: block;
    float: right;
    padding-bottom: 0;
    padding-top: 0;
}

label {
    width: 400px;
}

.completed {
    text-decoration: line-through;
}

/* Form */

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 10px;
}

input[type=text] {
    font-size: 1em;
}

button {
    font-family: 'Arvo';
    color: #FFFFFF;
    font-size: 1em;
    background: #076645;
}

/* Controls */

.controls {
    margin-top: 20px;
}

footer{
    background: #076645;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    background-color: #076645;
    color: #000000;
}

footer a {
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    body {
        padding: 0 0 0 0;
    }
    li {
        padding: 0 0 5 0;
        width: 100%;
    }
    ul {
        width: 100%;
        padding: 0 0 0 0;
    }

}